<h1>Teams</h1>
<ul class="teams_list" *ngIf="teams">
    <li *ngFor="let team of teams">
        <!-- <a style=display:none;>{{team.TeamID}}</a> -->
        <a><img width="50" src="{{team.WikipediaLogoUrl}}"></a>
        <a><img width="60" src="{{team.WikipediaWordMarkUrl}}"></a><br>
        <a>{{team.Conference}} {{team.Division}}</a><br>
        <button>View team details</button>
        <br><br>
    </li>
</ul>

<!-- <div id="team_list1">T!</div> -->
<!-- console.log(team1); -->
<!-- <script>
    var team1 = document.getElementsByClassName("teams_list");
    // var teamshow = (response[1]);
    // var teamshow = document.getElementById("teamshow").innerHMTL = teamshow;
    </script> -->
<!-- <script>
    function oneteam() {
        addEventListener('onclick', oneteam());
        this.teams = teams[0, 1, 2, 3, 4, 5];
        this.team1 = teams.slice(1, 2);
        document.getElementById("team_list1").innerHTML = team1;
    }
</script> -->
<!-- // var Teams = document.getElementsByClassName("teams_list"); -->
<!-- console.log(document.all[10]); -->